nav {
  width: 100%;
  height: 60px;
  background-color: #0D1B2A;
  color: white;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}


ul {
  line-height: 50px;
}

ul li {
  list-style: none;
  display: inline-block;

}

ul li a {
  display: block;
  text-decoration: none;
  color: #E0E1DD;
  font-weight: bold;
  font-family: arial;
  padding: 0 20px;
}

ul li a:hover {
  color: #778DA9;
}

/*********MODAL*********************/

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #415A77;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}

.createbtn{
  margin-top: 3%;
}
button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 10px;
  margin:0;
  background-color: #415A77;
  float: right;
  color:#E0E1DD;
  float:top;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 30px 0 12px 0;
  position: relative;

}
.logo {
  height: 80px;

}
.logoText {
  font-size: 70px;
  font-family: Impact;
}

.leftText {
  margin-left: 30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color:#E0E1DD;
  margin: 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 50%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
    float: right;
  }
}
