<div>
<form [formGroup]="newEmployee">
  <table>
    <tr>
      <td>
        <label for="name">Name</label>
      </td>
      <td>
        <input class = "name" formControlName="name" id="name" name="name">
      </td>
    </tr>
    <tr>
      <td>
        <label for="position">Position</label>
      </td>
      <td>
        <input class = "position" formControlName="position" id="position" name="position">
      </td>
    </tr>
    <tr>
      <td>
        <label for="salary">Salary</label>
      </td>
      <td>
        <input class = "salary" formControlName="salary" id="salary" name="salary">
      </td>
    </tr>
  </table><br>
  <br>
  <button type="submit" (click)="createEmployee()">Create New Employee</button>

</form>
</div>
